@font-face {
    font-family: "HBIOS-SYS";
    src: url("fonts/hbios-sys.woff2") format("woff2");
}

body {
    font-family: "HBIOS-SYS", sans-serif;
}

#message {
    color: red;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

a {
    color: #0000ff; /* 링크 색상을 파란색으로 설정 */
    text-decoration: none; /* 링크의 밑줄 제거 */
}

a:hover {
    text-decoration: underline; /* 마우스 오버 시 밑줄 추가 */
}
